/* 
    Created on : Oct 20, 2015, 12:16:43 PM
    Author     : wprorok
    Stylesheet : form.html;email.php;
*/

.form {
    width: 100%;
    float: left;
    margin: 0 auto;
}
fieldset {
    width: 50%;
}

